@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #393d41;
}

h1,
h3 {
  color: #25a2c3;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-weight: 700;
}

header {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 90px;
  text-align: center;
}

header img {
  width: 160px;
  padding-block: 25px;
}

.head {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center -30%;
  text-align: center;
  margin-bottom: 65px;
}

.head h1 {
  font-size: 2.3rem;
  padding-top: 40px;
  line-height: 2.15rem;
  margin-inline: 35px;
}

.head p {
  padding-block: 20px;
  margin-inline: 35px;
}

button {
  background-color: #f04c2f;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-weight: 600;
  padding-block: 12px;
  padding-inline: 30px;
  margin-bottom: 27px;
}

main {
  text-align: center;
}
.article {
  margin-inline: 35px;
}

.article img {
  border-radius: 50%;
  width: 300px;
  margin-block: 35px;
}

.article h3 {
  margin-bottom: 15px;
}

.article p {
  margin-bottom: 35px;
}

.testimony {
  background-color: #e22d0e;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-weight: 700;
  font-size: 2.3rem;
  padding-top: 60px;
  line-height: 2.15rem;
  margin-inline: 35px;
}

.testimony .special {
  font-style: italic;
  padding-block: 40px;
}

.testimony p {
  padding-bottom: 20px;
}
.cards {
  width: 300px;
  margin-inline: auto;
  margin-block: 35px;
  border: 1px solid #dee1e3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cards img {
  width: 100%;
}

.cards h3 {
  margin-block: 10px;
}

.cards p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  margin-inline: 20px;
  margin-bottom: 15px;
}

footer {
  background-color: #26a3c9;
  color: #c8e7f0;
  text-align: center;
}

footer i {
  color: white;
}

footer a {
  color: #c8e7f0;
}

footer h2 {
  margin-block: 30px;
  color: white;
}

footer div div {
  display: block;
}

.contacts {
  margin-bottom: 35px;
}

.copyright {
  padding-bottom: 100px;
  padding-top: 40px;
  border-top: 1px solid #c8e7f0;
  width: max-content;
  margin-inline: auto;
}
